.newsfeed-details-body {
    display: flex;
    gap: 2rem;
    width: 100%;
   margin: 1.875rem 0;
}
.newsfeed-details-wrapper {
    width: 70%;
    transition: var(--transition);
    border: 1px solid var(--color-box);
    border-radius: 10px;
    /* box-shadow: var(--shadow-black); */

}
.newsfeed-details-dashboard {
    width: 30%;
}
.newsfeed-favorite-content img {
    transition: var(--transition);
}
/* .newsfeed-details-header h6 {
    margin-bottom: 6px;
} */
.newsfeed-details-inner{
    text-transform: uppercase;
    padding: 24px;
}
.newsfeed-details-title {
    line-height: 1.5;
    /* margin-bottom: 13px; */
}
.newsfeed-details-page {
    padding: 1.5rem;
}
.newsfeed-details-page p {
    margin-bottom: 1.3em;

}
.newsfeed-details-box {
    margin: 16px;
    font-size: 16px;
    background-color: var(--color-box);
    padding: 24px;
    border-radius: 16px;}

.newsfeed-details-box p , .newsfeed-detail-list {
    text-align: justify;
    
    }
.newsfeed-details-box p {
    font-size: 16px;
    line-height: 160%;
    margin: 15px 0;
}
.newsfeed-detail-list{
    margin: 16px 0;
    padding-left: 40px;
}
.newsfeed-detail-list a {
    color: var(--color-link);
}
.newsfeed-detail-list li {
    list-style-type: disc;
}
.newsfeed-dashboard-content {
    position: sticky;
    top: 120px;
    display: flex;
    flex-direction: column;
    transition: all .3s;
    /* max-width: 386px;
    width: 386px; */
    gap: 20px;
}
.newsfeed-dashboard-menu {
   
    font-weight: 500;
    background-color: var(--color-box);
    padding: 20px 24px 24px;
    border-radius: 16px;
    transition: all .3s;


}
.newsfeed-dashboard-menu-scoll {
    text-align: justify;
    margin-left: 20px;
    padding-top: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 300px;

}
.newsfeed-dashboard-menu a {
    font-size: 14px;
}

.newsfeed-dashboard-menu h4 {
    /* border-bottom: var(--border-gray); */
    border-bottom: none;
    position: absolute;
    top: 0;
    padding-top: 20px;
    font-size: 18px;
    margin-top: 0;
    background: #f1f1f1;
    /* border-bottom: 1px solid #d9d9d9; */
}
.newsfeed-dashboard-banner img {
    border-radius: 20px;
    
}
 .newsfeed-favorite-container {
    background-color: var(--bg-color);
    padding: 25px 25px 0 25px;
    position: relative;
}
.newsfeed-dashboard-banner img {
    max-width: 1158px;
    max-height: 600px;
}
.newsfeed-details-wrapper:hover {
    box-shadow: var(--shadow-black);
}
/* reposi */
@media (max-width: 1200px) {
   
    .newsfeed-dashboard-menu-scoll {
        margin-left: 10px;
    line-height: 1.25rem;
    }
    .newsfeed-dashboard-menu-scoll li {
        margin-bottom: 6px;
        }
   
}
@media (min-width: 993px) {
    .newsfeed-dashboard-menu h4 {
    width: calc(100% - 40px);
    }

}
@media (max-width: 992px) {
    .newsfeed-details-wrapper:hover {
        box-shadow: none;
    }
   
    .newsfeed-details-body {
        /* flex-direction: column; */
        flex-direction: column-reverse;
        /* gap: 1rem; */
       
}
.newsfeed-details-wrapper {
    width: 100%;}
    .newsfeed-details-dashboard {
        width: 100%;
    }
.newsfeed-dashboard-menu-scoll {
    margin-left: 0;
   
}

.newsfeed-dashboard-content{
   display: grid;
   grid-template-columns: 50% 47%;
   gap: 3%;
   padding: 1rem;
}
.newsfeed-dashboard-menu h4 {
    width: 43%;
    top: 14%;
    padding-top: 0;
}

.newsfeed-dashboard-menu {
    padding: 20px;
}
.newsfeed-dashboard-menu-scoll {
   
    max-height: 160px;
}
.newsfeed-dashboard-banner img {
    height: 200px;
}
.newsfeed-details-body {
    transition: var(--transition);
    border: 1px solid var(--color-box);
    border-radius: 10px;
    gap: 0;
    /* box-shadow: var(--shadow-black); */
}
.newsfeed-details-wrapper {
    /* width: 70%; */
    /* transition: var(--transition); */
    border:none;
    border-radius: none;
}
}


@media (max-width: 768px) {
  
.newsfeed-details-wrapper {
    width: 100%;
    
}}
@media (max-width: 576px) {
    .newsfeed-dashboard-content {
        grid-template-columns: none;
        gap: 10px;
}
.newsfeed-dashboard-banner img {
    max-width: 1158px;
    max-height: 600px;
}

    .newsfeed-dashboard-menu h4 {
        width: 84%;
        top: 6%;
        padding-top: 10px;
        border-bottom: none;
    }
}