.network {
  padding: 25px 0 46px 0;
}

  .img-box img {
    display: block;
    max-height: 100%;
    object-fit: contain;
    transition: var(--transition) ;
  
  }
  .img-box:hover {
    box-shadow: var( --shadow-black);
  }
  .network-header {
    margin-bottom: 40px;
    text-align: center;
  }
 