
 
  i:not(.sidebar-close i, .icon-search):hover , svg:hover {
    animation: pulse 0.5s ease-in-out;
  }
  @keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
  }
  @keyframes showout{
    from{
        opacity:0;
        transform:translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(100%);
    }
}
.best-seller-text:hover a , .collection-text:hover a
, .sidebar-items:hover{
    font-weight: 500;
}
.clothes-text:hover a, 
.newsfeed-content p:hover , 
.newsfeed-favorite-content p:hover
, .sidebar-items:hover {
    text-decoration: underline;
}
.tab:hover {
    background-color: var(--heading-color); 
}

  .sidebar-close i:hover{
    transform: rotate(90deg)
  }
 
  .newsdetails-wrapper:hover , .nav-search:hover, .newsfeed-dashboard-menu:hover, .newsfeed-favorite-content img:hover,
  .img-box img:hover, .lu-col-block-title:hover

  {
    box-shadow: var(--shadow-black);
    
}

.btn:hover .shadow.shadow-btn {
    opacity: 1;   
}
.newsfeed-details a:hover(:not(.newsfeed-dashboard-menu-scoll a)) {
    text-decoration: underline;
}
.newsfeed-dashboard-menu-scoll a:hover , .network-header  a:hover  {
    color: var(--color-link);
}
.lu-sub-category-item a:hover {
    color: red;
}
