:root {
  /* Color */
  --primary-color: #000;
  --heading-color: #f5f5f5;
  --bg-color: #fff; 
  --body-color:rgb(6, 4, 50); 
  --hover-color: #e5e5e5;
  --news-bg: rgb(249, 248, 108);
  --color-blue: #0275d8;

  /* Typography */
  --font-mon: 'Montserrat', sans-serif;
  --font-ro: 'Roboto', sans-serif;
  --fs-base: 1rem;
  --lh-base: calc(30 / 16);


  /* Border radius */
  --rounded: 0.625rem;
  --rounded-sm: 1.25rem;
  --rounded-lg: 3.125rem;
  --rounded-full: 9999px;

  /* Border */
  --border: 0 solid #ddd;
  --border-color: rgba(0, 0, 0, 0.0625);
  --border-black: rgba(22,22,24,0.16);


  /* Container */
  --container-padding: 1.875rem;
  --containerFluid-padding: 3.125rem;

  /* opacity */
  --opacity-hover: 0.5;
  /* Layout */
  --column-gap: 1.875rem;
  --gap: 1rem;

  /* Transition */
  --transition: all 0.3s ease;
  /* shadow */
  --shadow-black : 0px 4px 8px rgba(0, 0, 0, 0.2); 
  --shadow-text: 0 0 5px rgba(0, 0, 0, 0.5);
  --shadow-icon: 0 0 5px rgba(0, 0, 0, 0.3); 

}
