.btn-cancel {
    text-align: right;
    transition: .3s ease;
}
.btn-cancel i{
    transition:.3s ease;
}
.btn-cancel i:hover {
    transform: rotate(90deg)
}
/* btn đen */
.btn {
    border-bottom: 10px;
    padding: 16px 36px;
    background-color: black;
    border-radius: 25px;
}
.btn-sm {
    border-radius: 7px;
    padding: 8px 8px;
    background-color: var(--bg-color);
    border : var(--border-sm);
}
.btn-color {
    width: 28px;
    height: 28px;
    text-align: center;
    border-radius: 14px;
    border: 1px solid var(--heading-color);
}
.button {
    border-radius: 25px;
    border: 1px solid #333;
}

/* input[type="checkbox"] {
    display: none;
} */

.checkbox-container {
    display: inline-block;
    /* position: relative; */
    /* padding-left: 25px;  */
    cursor: pointer;
}
.checkbox-container input {
    padding-right: .3rem;
} 
/* .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px; 
    width: 18px;
    border: 1px solid #aaa; 
}
input[type="checkbox"]:checked + .checkmark {
    background-color: #2196F3; 
}
input[type="checkbox"]:checked + .checkmark {
    border: 1px solid #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
input[type="checkbox"]:checked + .checkmark:after {
    display: block;
}
.checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
} */




.lu-custom-button {
    display: inline-block;
    position: relative;
    /* box-shadow: rgb(229, 229, 229) 0px 0px 0px 1px; */
    /* background-color: #ccc; */
    /* border: 1px solid #000; */
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: rgb(17, 17, 17) 0px 0px 0px 1px inset;
    background: white;


  }
  
  .lu-custom-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .lu-custom-button label {
    display: block;
    padding: 10px;
    height: 48px;
    width:70px;
    cursor: pointer;

    /* border-radius: 5px; */
  }
  
  .lu-custom-button input:checked + label {
    border-radius: 4px;
    border: none;
    box-shadow: rgb(229, 229, 229) 0px 0px 0px 1px inset;
  }
  
  .bt-gray {
    background: #c8c8c8;
    border-radius: 4px;
    font-weight: 500;
    padding: 0 23px;
    text-align: center;
    color: white;
    height: 40px;
    white-space: nowrap;
}
.btn-d9d9d9 {
    border-radius: 4px;
    box-shadow: 0 0 0 1px #d9d9d9;
}
