.text-xxs {
  font-size: .75rem;
font-weight: 300;
}
.text-xs {
  font-size: 0.875rem;
    line-height: calc(20 / 14);
    font-weight: 400;
}
.text-sm {
    font-size: 0.875rem;
    line-height: calc(20 / 14);
  }
  .text-md {
    font-size: 1rem;
    line-height: calc(20 / 16);
  }
.text-18 {
  font-size: 1.125rem;
  line-height: calc(20 / 18);


}

.newsfeed-content p , .newsfeed-favorite-content p  {
  font-size: 1.125rem;
  font-weight: 500;
}
.is-xsmall {
  font-size: .75rem;
  font-weight: 400;
}

