.header {
    position: -webkit-sticky;
    position: sticky;
    top:0;left: 0;right: 0; 
    z-index: 100;
}
.header-container > p {
padding: 0 3.125rem;
color: var(--primary-color);
padding: 6px 0;
text-decoration: underline;
text-align: center;
text-transform: uppercase;
}


