@media (min-width: 993px) { 
  .navbar {
    padding: 0 var(--container-padding);
    font-family: var(--font-mon);
    position: relative;
    z-index: 3;
    box-shadow: var(--shadow-black) ;
}
.navbar-container {
    justify-content: space-between;
    padding: 8px 0;
}
.navbar-container, .nav-icons, .nav-search
{
  display: flex;
  align-items: center;
}
.nav-icons {
   gap: var(--fs-base) ;  
}
.nav-search i{
    margin: 0 9px;
}
.nav-search  {
  position: relative;
  justify-content: center ;
    z-index: 1;
    padding: 10px 5px 10px 0 ;
    border: var(--border-gray);
    border-radius: var(--rounded-full);
}
.nav-search input {
  width: 140px;
  font-size: 18px;
    border: none;
    outline: none;
  }
  .nav-search button , .nav-search input {
    background: none;
  }

.nav-menu {
    white-space: nowrap;
    display: flex;
    gap: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.sub-menu {
  gap: 30px;
  padding: 20px 0;
  display: none;
  opacity: 0;
  visibility: hidden;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 1; 
  animation: mymove .3s ; 
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  
}
.sub-menu-wrapper {
  padding-left: 0;
  padding-right: 0;
  border-bottom:  1px solid #ececec;

}
.sub-menu-wrapper  h5 {
  padding-bottom: 10px;
}
.subnav-list {
  padding-top: 10px;

}

.nav-menu > li:hover .sub-menu {
  display: flex;
  opacity: 1;
  visibility: visible;
}
.nav-items {
  position: relative;
}
.nav-items a {
  color: #333;
  opacity: 1;
  transition: opacity 0.3s, font-weight 0.3s;
  position: relative;
  text-transform: uppercase
}
.nav-items a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #333;
  transition: width 0.3s;
}

.nav-items a:hover {
  opacity: 1;
  font-weight: 700;
}

.nav-items a:hover::after {
  width: 100%;
}
.drop-down p {
    font-size: 14px;
    font-weight: 700;
}
.drop-down a {
    font-size: 14px;
    font-weight: 500;
    color: #97999a;
}
.drop-down a:hover {
    color: #000;
    text-decoration: underline;

}

/* search hidden */

.search-container {
   width: 300px;
  top: 0;
  right: 0;  
  padding: 20px;
  text-align: left;
  height: 100vh;
  position: absolute;
  transition: .4s ease;
  transform:translateX(100%);

}
.search-container form {
  display: flex;
  
}
.pre-search-container  {
  width: 100%;
  padding: 10px 0;
  align-items: center;
}
.pre-search-container input[type="text"] {
  flex-grow: 1;
  border-bottom: 1px solid #000;
  font-size: 1.125rem;
}
.pre-search-container  button[type="submit"] {
  background-color: transparent;
  border: none;
  padding-left: 6px;
}
.keywords-search {
  text-align: left;
  margin-top: 16px;
}
.wrap-hidden  {
  z-index: 100;
}

#menu-search {
  display: none;
}
}

@media (min-width: 993px) {
  .nav-menu {
    white-space: nowrap;
    display: flex;
    gap: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}


