.newsdetails {
    margin-bottom: 2rem;
}
.newsdetail-container h2 {
   
    margin: 20px;
}
.newsdetail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsdetails-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    /* font-family: var(--font-ro); */
}
.newsdetails-wrapper {
    border: 1px solid #ddd;
    /* margin: 0 15px 30px; */
    display: block;
  transition: var( --transition);
}

.newsdetail-box{
    padding: 15px;
}
.newsdetail-box h4, .newsdetail-box p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* height: 2.6em; */
    font-weight: 400;
}

.newsdetail-box h4{
    color: var(--color-blue);
  }
  .newsdetail-box p {
    font-size: 14px;
  }

.newsdetail-time{
    opacity: .8;
    font-size: .8em;
}
.newsdetail-contact {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd ;
    padding: 10px 15px;
}
.newsdetail-share {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

.newsdetail-contact svg{
    width: 16px;
    height: auto;
}

.is-divider {
    height: 2px;
    display: block;
    background-color: rgba(0,0,0,.1);
    margin: 0.3rem 0;
    width: 100%;
    max-width: 30px;}

.btn a {
    color: var(--bg-color) ;
}
.newsdetails-content .hidden {
    display: none;
  }
  #show-more-button {
    margin-top: 26px;
  }

